.navbar{background-color: #C0C0C0;}
.lados{padding-top: 60px; padding-bottom: 60px; padding-left: 40px; padding-right: 40px;}
.bc{background-color: #B4B4B4;}
.font{font-size: 25px;}
h2{font-size: 80;}
.margin{margin-left: 1500; margin-right: 1500;}